@CHARSET "UTF-8";

html, body {
	font-size:		12px;
	font-family:	Segoe ui, Arial;
}

input[type=text], input[type=password], select {
	border:			1px solid #aaa;
	width:			150px;
	height:			15px;
}

input[type=submit], input[type=button], button {
	border:			1px solid #aaa;
	font-size:		11px;
	cursor:			pointer;
	background-color:	#e8e8e8;
}

input[type=submit]:hover, input[type=button]:hover, button:hover, input[type=text]:hover, input[type=password]:hover {
	border:			1px solid #747474;
}

table td {
	vertical-align:	bottom;
	font-size:		11px;
	padding:		1px;
}

div.info, td.info {
	margin-top:		5px;
	font-size:		10px;
	
}

div.error {
	border:		1px solid red;
	padding:	5px;
	width:		300px;
	background-color:	#d93a32;
}