@CHARSET "UTF-8";

html, body {
	font-size:		12px;
	font-family:	Segoe ui, Arial;
	margin:			0px;
	padding:		0px;
} 

input[type=text], input[type=password], select {
	border:			1px solid #aaa;
	width:			150px;
	height:			15px;
}
/*
input[type=submit], input[type=button], button {
	border:			1px solid #aaa;
	font-size:		11px;
	cursor:			pointer;
	background-color:	#e8e8e8;
}

input[type=submit]:hover, input[type=button]:hover, button:hover, input[type=text]:hover, input[type=password]:hover {
	border:			1px solid #747474;
}
*/
table td {
	vertical-align:	bottom;
	font-size:		11px;
	padding:		1px;
}

div.info, td.info {
	margin-top:		5px;
	font-size:		10px;
	
}

div.error {
	border:		1px solid #FF4848;
	padding:	5px;
	width:		300px;
	background-color:	#FF7575;
	margin-bottom: 5px;
}

div.success {
	border:		1px solid #59955C;
	padding:	5px;
	width:		300px;
	background-color:	#A6CAA9;
	margin-bottom: 5px;
}

div#menu {
	position:	fixed;
	left:		5px;
	top:		70px;
	width:		160px;
	background-color:	#f5db8b;
	font-size:	11px;
	min-height:		50px;
	border:		2px solid #e3cb81;
	padding:	5px;
	
}

div#menu hr {
	height: 0px;
	border-top:	1px solid #000;
	border-bottom:	1px solid #e3cb81;	
}

div#content {
	position:	fixed;
	left:		180px;
	top:		70px;
	margin-left:	5px;	
	overflow:		hidden;
	width:			1000px;
	/*
	border-top:		1px solid #4c5956;
	padding-top:	5px;
	*/
}

div#menu a {
	display:	block;	
	color:		#000;
	cursor:		pointer;
	text-decoration:	none;
}

div#menu a:hover {
	text-decoration:	underline;
}
