@CHARSET "UTF-8";

html, body {
	font-size:		12px;
	font-family:	Arial;
	margin:			0px;
	padding:		0px;
	overflow-x:		hidden;
	padding-bottom: 5px;
	width: 100%;
	height: 100%;


} 

input[type=text], input[type=password], select {
	border:			1px solid #000;
	width:			150px;
	height:			15px;
}

table td {
	vertical-align:	bottom;
	font-size:		11px;
	padding:		1px;
}

div.info, td.info {
	margin-top:		5px;
	font-size:		10px;
	
}

div.error {
	/*
	border:		1px solid #FF4848;
	padding:	5px;
	width:		300px;
	background-color:	#FF7575;
	margin-top: 5px;
	*/
	color: red;
	font-weight: bold;
	fobt-size: 11px;
}

div.success {
	/*
	border:		1px solid #59955C;
	padding:	5px;
	width:		300px;
	background-color:	#A6CAA9;
	margin-top: 5px;
	*/
	color: green;
	font-weight: bold;
	font-size: 11px;
}

div#menu {
	float: 		left;
	width:		200px;
	font-size:	12px;
	min-height:		50px;
	margin-top:	5px;
	margin-left: 5px;
	background-color: #eceade;
	border: 0px solid #383838;
}

div#menu a:hover {
	background-color: #383838;
	color: #fff;
}


div#content {
	float: left;
	margin-top: 5px;
	margin-left: 5px;
	margin-bottom: 5px;
	/*min-width: 900px;*/
	
}

div.title {
	/*background-color: #383838; */
	color: #000; 
	font-size: 14px; 
	padding-bottom: 5px;
	padding-left: 5px;
	text-decoration: underline;
	font-weight: bold;
}

div#menu a {
	display:	block;	
	cursor:		pointer;
	text-decoration:	none;
	padding: 5px;
	padding-righg: 5px;
	color: #000;
}

select {
	
	padding: 5px;
	border: 1px solid gray;
}
