@CHARSET "UTF-8";

html, body {
	background-color:	 #ebf1f0;
}
div#loginBox, div#registerBox {
	width:				450px;	
	padding:	5px;
	background-color:	#ebf1f0;
}

div#loginBox td {
	font-size: 14px;
	vertical-align: bottom;
	
}

div#loginBox td img {
	position: relative;
	top:	5px;
}

div#loginBox input[type=text], div#loginBox input[type=password] {
	border:	1px solid black;
	height:	20px;
	width:	200px;
}

div#loginBox input[type=submit] {
	height:	20px;
	width:	80px;
	cursor:	pointer;
}